
/* body values*/
  body {
  margin: 0;
  background-image: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));
  box-sizing: border-box;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
/* container values*/
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
/* card values*/
.card {
  margin: auto;
  max-height: 800px;
  padding: 20px;
  background-image: linear-gradient(to right, rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));
}
form {
  border: 2px
}

/* display values*/
input {
    height: 60px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    background: #c5e3f6;
}
/* button default row values*/
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* button values*/
button {
  padding: 20px;
  font-size:2rem;
  background: #46c3db
}

/* button row1 values*/
.row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
